*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  line-height: 1.5;
  min-height: 100vh;
}

@keyframes gentle-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

section.hero {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;

  .my-name {
    font-size: 3rem; 
    font-weight: 500;
  }

  .description {
    max-width: 600px;
  }

  .my-position {
    font-size: 1.5rem; 
    font-weight: 500;
  }

  .description {
    font-size: 1.1rem;
    margin-bottom: 100px;
  }

  .bi-arrow-down {
    display: inline-block;
    font-size: 2rem;
    animation: gentle-bounce 2s ease-in-out infinite;
    cursor: pointer;
  }
}



/* section.hero .bi-arrow-down:hover { */
/*   animation-play-state: paused; */
/*   opacity: 0.7; */
/* } */
