<section class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md space-y-3">
      <p class="text-lg">Hi I'm</p>
      <p class="text-5xl">Noel Vega</p>
      <p class="text-2xl">Software Engineer</p>
      <p class="py-4">
        Expierenced in <b>Legal Tech</b> with a proven
        track record of delivering high-impact solutions.
      </p>
      <div class="py-12">
        <a href="#experience" class="animate-bounce inline-block py-12">
          <i class="bi bi-arrow-down text-3xl"></i> 
        </a>
      </div>
    </div>
  </div>
</section>
