@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html {
  scroll-behavior: smooth;
}

/* Glassmorphism Navigation */
.glass-nav {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}
